.title-bg {
    padding: 60px 0;
    background: var(--color-11);
}

.title {
    background: url('../../../img/dec/top-right.svg') no-repeat top right 20px;
}

.title p {
    margin-bottom: 4px;
}

@media (max-width: 800px) {
    .title-bg {
        padding: 40px 0;
    }

    .title p {
        font-size: 1rem;
        text-transform: lowercase;
        font-weight: 400;
    }
}
